* {
  margin-top: 10%;
  padding: 0;
}

body {
  background-color: rgb(14, 13, 13);

}

canvas {
  height: 100vh !important;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #333;
  color: #fff;
  border-radius: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  margin-top: 2rem;
}